{
    "contentful": {
        "dev": {
            "spaceId": "",
            "accessToken": ""
        },
        "production": {
            "spaceId": "",
            "accessToken": ""
        }
    }
}